@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&display=swap" rel="stylesheet');



@import 'assets/breakpoints.scss';
@import 'main';
@import 'assets/colors.scss';



@import 'pages/landingPage';
@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/transactions';
@import 'pages/accounts';
@import 'pages/budget';
@import 'pages/add-transaction';
@import 'pages/add-category';
@import 'pages/edit-account';
@import 'pages/_404';
@import 'components/SideMenu';

